/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (min-device-width: 1200px) {
    ::-webkit-scrollbar {
        display: none;
    }
}

@media (max-device-width: 218px) and (max-device-height: 281px) { 
    body {
        overflow: scroll;
    }
} */

::-webkit-scrollbar {
    display: none;
}